.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: left;
}

.home-container .container {
  display: flex;
  flex-direction: row; /* Adjust depending on your design */
  align-items: center;
  justify-content: space-between;
}

.home-content {
  max-width: 600px; 
  font-size: 3em;
}

.home-content p {
  font-size: 0.5em; 
}

.home-container img {
  max-width: 800px; 
  max-height: 1000px; 
  margin-left: 20px;
}